@font-face {
  font-family: 'Medium';
  src: url('../../fonts/Handbook/Medium.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url('../../fonts/Handbook/Thin.ttf');
}

@font-face {
  font-family: 'Bold_Italic';
  src: url('../../fonts/Handbook/BoldItalic.ttf');
}

@font-face {
  font-family: 'Medium_Italic';
  src: url('../../fonts/Handbook/MedItalic.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('../../fonts/Handbook/Bold.ttf');
}
