.logo {
  background: url("../../images/logo.jpg") no-repeat;
  display: block;
  width: 113px;
  height: 99px;
}

.search-icon {
  background: url("../../images/icons/search-icon.png") no-repeat;
  width: 12px;
  height: 12px;
  display: block;
}