.logo {
  width: 113px;
  height: 99px;

  background: url("../../images/logo.jpg") no-repeat;

  display: block;
}

.search-icon {
  width: 12px;
  height: 12px;

  background: url("../../images/icons/search-icon.png") no-repeat;

  display: block;
}

.slider-arrow-icon {
  width: 20px;
  height: 20px;

  background: url("../../images/slider-arrow.png") no-repeat;

  display: block;
}

.cardio-icon {
  width: 22px;
  height: 22px;

  background: url("../../images/icons/cardio-icon.png") no-repeat;

  display: block;
}

.gen-icon {
  @extend .cardio-icon;

  background: url("../../images/icons/gen-icon.png") no-repeat;
}

.crop-icon {
  @extend .cardio-icon;

  background: url("../../images/icons/crop-icon.png") no-repeat;
}