@import "slider";

.content {
  padding: 0 5px;

  padding-top: 20px;

  width: 100%;

  clear: both;
}

.services-nav {
  padding: 2px 6px;

  width: 200px;

  border: 1px solid #868cbf;
  background: #f3f3f3;

  border-radius: 6px;
  display: block;
  float: left;

  a {
    padding: 0 3px;

    margin-top: 10px;

    padding-bottom: 10px;

    width: 98%;

    font-family: 'Medium';

    border-bottom: 1px solid #4953a0;
    clear: left;
    color: #4953a0;
    display: inline-block;
    float: left;
    font-size: em(16px);
    text-align: left;
    text-decoration: none;
  }

  a:hover {
    color: #e8232c;
  }

  a:last-child {
    border-bottom: none;
  }

  a:first-child {
    margin-top: 0;
  }
}

.main-block {
  margin: 0 16px;

  width: 500px;

  float: left;

  .slider {
    margin-bottom: 15px;
  }
}