.doctors {
  .doctor {
    margin-top: 10px;
    margin-right: 30px;

    width: 145px;

    display: block;
    float: left;
    position: relative;

    i {
      top: -10px;
      left: 0;

      position: absolute;
    }

    .figure {
      width: 138px;
      height: 138px;

      border: 2px solid #4953a0;

      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }
    }

    .inner-border {
      top: 1px;
      left: 1px;

      width: 100%;
      height: 138px;

      background: url("../../images/doctor-img.png") no-repeat;

      content: '';
      display: block;
      position: absolute;
      z-index: 3;
    }

    span {
      left: 18px;
      bottom: 8px;

      width: 100px;

      font-family: 'Slab-Medium';

      color: #e8232c;
      font-size: em(10px);
      position: absolute;
      text-align: center;
      z-index: 5;
    }

    .description {
      padding: 5px 7px;

      margin-top: 20px;

      font-family: 'Medium';

      background: #f3f3f3;

      border-radius: 6px;
      color: #4953a0;
      font-size: em(12px);
    }
  }

  .doctor:last-child {
    margin-right: 0;
  }
}