$base-font-size: 16px;

.logo {
  margin-left: 22px;

  float: left;
}

.clinic-name {
  margin-top: 20px;

  width: 200px;

  font-family: 'Medium';

  color: #ed5259;
  float: left;
  font-size: em(18px);
  text-align: center;
  text-transform: uppercase;
}

.license {
  color: #01518c;
  font-size: em(16px, 18px);

  span {
    font-family: 'Thin';

    font-size: em(14px);
  }
}

.help-block {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 15px;

  float: right;
}

.help-client {
  width: 193px;

  float: right;

  //Phone
  .phone {
    font-family: 'Bold_Italic';

    color: #01518c;
    font-size: em(16px);
    text-transform: uppercase;

    span {
      margin-right: 5px;

      color: #e8232c;
    }
  }

  //Search
  .search {
    margin-top: 17px;
  }
}

.help-links {
  margin-right: 30px;

  width: 100px;

  display: block;
  float: right;


  a {
    font-family: 'Medium_Italic';

    clear: right;
    color: #6169a9;
    float: right;
    text-decoration: none;
  }

  a:hover {
    color: #e8232c;
    text-decoration: underline;
  }

  a:last-child {
    margin-top: 20px;
  }
}

.main-navigation {
  clear: both;
}