.search {
  position: relative;

  input {
    border: none;
    background: none;

    outline: none;
  }

  input[type=text] {
    padding: 5px 10px;

    padding-right: 30px;

    width: 80%;

    border: 1px solid #aeaeae;

    border-radius: 16px;
  }

  input[type=submit] {
    @extend .search-icon;

    cursor: pointer;
  }

  input:focus {
    color: #aeaeae;
  }

  .search-icon {
    top: 8px;
    right: 6px;

    position: absolute;
  }
}